body {
  color: #333; /* Default font color for the app */
  background-color: #eee; /* Default background color for the app */
  font-family: "Open Sans", sans-serif; /* Default font style used in the app */
}

.container {
	vertical-align: middle;
	margin-left:auto;
	margin-right:auto;
  	max-width: 300px;
}

#clock {
  text-align: center; /* Horizontally centers the text for the clock */
}

.hidden {
  display: none; /* Hides the element that matches this rule */
}

